<link rel="import" href="../polymer/polymer.html">

<link rel="import" href="../paper-menu/paper-menu.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-card/paper-card.html">

<link rel="import" href="cells-tutorial-trivial-styles.html">
<!--
`<cells-tutorial-trivial>` description.

Example:

```html
<cells-tutorial-trivial></cells-tutorial-trivial>
```

## Styling

The following custom properties and mixins are available for styling:

| Custom property | Description     | Default        |
|:----------------|:----------------|:--------------:|
| --cells-tutorial-trivial  | Mixin applied to :host     | {}  |
| --cells-fontDefault  | Font family of :host    | sans-serif  |

@demo demo/index.html
-->
<dom-module id="cells-tutorial-trivial">
  <template>
    <style include="cells-tutorial-trivial-styles cells-tutorial-trivial-shared-styles"></style>
    
   <div class="cells-tutorial-trivial-container">
        
        <paper-card class="card" heading="Pregunta [[question.questionIndex]] de [[question.questionTotal]]">

      
    
          <div class="card-content">[[question.title1]]</div>
            <paper-menu>
              <template is="dom-repeat" items="{{question.answers}}">
                <paper-item value="[[item.id]]" >[[item.text]]</paper-item>
              </template>
            </paper-menu>
         
          <div class="card-actions centered">
              <paper-button  raised class="custom indigo" on-tap="answer">Enviar</paper-button>
          </div>
           </div>
        </paper-card>



    </div>
  </template>
  <script src="cells-tutorial-trivial.js"></script>
</dom-module>
