@import "bower_components/cells-sass/main";

:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply(--cells-tutorial-trivial);

  --paper-card-header:#{'{
         background-color: #4285f4;
  }'};

  --paper-card-header-text:#{'{
         color:white;
  }'};


}


:host([hidden]), [hidden] {
  display:none;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.card{
  width:100%;
}

.centered{
    display: flex;
    align-items: center;
    justify-content: center;
}
.indigo {
    width: 50%;
    background: #4285f4;
    color: white;
}


